In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
docs = ['under the accord taiwan textile export growth wa limited to pct each year until taipei ha said it is losing market to south korea and hong kong which were given more generous term reuter france reute b f to launch investment certificate'
,'but rafidain bank stopped paying debt due on letter of credit last march and a series of negotiation with bank and western government export credit agency ha been underway some bank have agreed to a deferrment of obligation due on letter of credit reuter taiwan reute u f taiwan central bank issue certificate of deposit'
,'taipei march the central bank issued billion taiwan dlrs of certificate of deposit cd bringing the total so far this year to billion a bank official told reuters'
,'under the term of the merger each liebert shareholder will receive share of emerson stock for each liebert share reuter earn f reute b f telecom proposes stock split blah blah blah earn usa reute u f cl coleco industry clc see profit in'
,'sydney march australian investment group industrial equity ltd iel said it will raise mln dlrs by the issue of medium term note and commercial paper in the domestic market'
,'new york feb venezuela and it bank advisory committee have agreed in principle on revision to the term of a billion dlr package signed last february banker said']
print(docs)

['under the accord taiwan textile export growth wa limited to pct each year until taipei ha said it is losing market to south korea and hong kong which were given more generous term reuter france reute b f to launch investment certificate', 'but rafidain bank stopped paying debt due on letter of credit last march and a series of negotiation with bank and western government export credit agency ha been underway some bank have agreed to a deferrment of obligation due on letter of credit reuter taiwan reute u f taiwan central bank issue certificate of deposit', 'taipei march the central bank issued billion taiwan dlrs of certificate of deposit cd bringing the total so far this year to billion a bank official told reuters', 'under the term of the merger each liebert shareholder will receive share of emerson stock for each liebert share reuter earn f reute b f telecom proposes stock split blah blah blah earn usa reute u f cl coleco industry clc see profit in', 'sydney march australian investment group industrial equity ltd iel said it will raise mln dlrs by the issue of medium term note and commercial paper in the domestic market', 'new york feb venezuela and it bank advisory committee have agreed in principle on revision to the term of a billion dlr package signed last february banker said']

In [3]:
vec = CountVectorizer()
X = vec.fit_transform(docs)

In [5]:
df = pd.DataFrame(X.toarray(), columns=vec.get_feature_names_out())
df.head()

,accord,advisory,agency,agreed,and,australian,bank,banker,been,billion,...,usa,venezuela,wa,were,western,which,will,with,year,york
0,1,0,0,0,1,0,0,0,0,0,...,0,0,1,1,0,1,0,0,1,0
1,0,0,1,1,2,0,4,0,1,0,...,0,0,0,0,1,0,0,1,0,0
2,0,0,0,0,0,0,2,0,0,2,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
4,0,0,0,0,1,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [22]:
a = [1,1,1,0,0,0]
b = [1,1,1,0,0,0]

In [23]:
from scipy import spatial

result = spatial.distance.cosine(a, b)

In [24]:
result

0

In [18]:
from numpy import dot
from numpy.linalg import norm

cos_sim = dot(a, b)/(norm(a)*norm(b))

In [19]:
cos_sim

0.2886751345948129

In [10]:
df.term

0    1
1    0
2    0
3    1
4    1
5    1
Name: term, dtype: int64